$backgroundC: #474a54;

#main {
    color: white; 
    font-size: 40px;
    text-align: center;
    padding: 5px;
}

#toolbox {
    color: white; 
    text-align: center;
    bottom: white;
}

#tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

label {
    font-size: 15px;
}