@import "./reset.scss";
$backgroundC: #474a54;

#main {
    color: black; 
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.bIcon, .icon, #numCoins {
    display: inline-block;
}

#toolbox {
    background-image: linear-gradient(#474a54, black, #474a54);
    color: white; 
    text-align: center;
    box-shadow: 20px 20px 50px 50px white;
    border-radius: 5px;
}

// #toolbox:hover {
// }

#tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.bIcon {
    width: 50px;
}

label {
    font-size: 15px;
}