$backgroundC: #474a54;

#main {
    color: white; 
    font-size: 40px;
    text-align: center;
}

#toolbox {
    color: white; 
    border: solid;
    border-color: black;
    text-align: center;
    border-width: 2px;
    padding: 5px; 
    bottom: white;
    display: flex;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 20px;
}

label {
    font-size: 15px;
}