// @import "./styles/reset.scss";
@import "./styles/bottom.scss";
@import "./styles/header.scss";

#my_dataviz {
    background-color: #454545;
    border-radius: 5px;
    // background-image: linear-gradient(red, gold);
    // background-image: url("../assets/grid.jpeg");
    // background-color: #cccccc;
    // background-size: cover;
}


svg {
    background-size: 40px 40px;
    background-color: #454545;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
}

.node:hover {
    stroke-width: 5px !important;
    opacity: 1 !important;
}

text {
    -webkit-touch-callout : none;
    -webkit-user-select: none;
    fill: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    // text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
    font-weight: 700;
    font-style: italic;
}

