@import "./styles/coininfo.scss";
@import "./styles/header.scss";

#my_dataviz {
    background-color: $backgroundC;
}

svg {
    display:flex;
    flex-wrap: wrap;
    background-color: $backgroundC;
    // background-color:  #b5b7ba;
    
}

.node:hover {
    stroke-width: 5px !important;
    opacity: 1 !important;
}

text {
    -webkit-touch-callout : none;
    -webkit-user-select: none;
    fill: white;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
    // text-shadow: -0.5px -0.5px 0 white, 0.5px -0.5px 0 white, -0.5px 0.5px 0 white, 0.5px 0.5px 0 white;
    font-weight: 700;
    font-style: italic;
}
